################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetInside/.vs/DotNetInside/v16
/DotNetInside/CSharpBasics/bin/Debug/netcoreapp3.1
/DotNetInside/CSharpBasics/obj
/CSharpBasics/bin/Debug/netcoreapp3.1
/CSharpBasics/obj
/CSharpCollection/bin/Debug/netcoreapp3.1
/CSharpCollection/obj
/OopsBasics/bin/Debug/netcoreapp3.1
/OopsBasics/obj
/StringProgramms/bin/Debug/netcoreapp3.1
/StringProgramms/obj
/OopsClasses/obj
/OopsClasses/bin/Debug/netcoreapp3.1
