################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DotNetInside/.vs/DotNetInside/v16
/DotNetInside/CSharpBasics/bin/Debug/netcoreapp3.1
/DotNetInside/CSharpBasics/obj
/CSharpBasics/bin/Debug/netcoreapp3.1
/CSharpBasics/obj
